/ Header
%header#header.alt
  %h1#logo
    %a{href: "index.html"}
      Valis Homestay
      %span
  %nav#nav
    %ul
      %li.current
        %a{href: "#"} Welcome
      %li.submenu
        %a{href: ""} Layouts
        %ul
          %li
            %a{href: "left-sidebar.html"} Left Sidebar
          %li
            %a{href: "right-sidebar.html"} Right Sidebar
          %li
            %a{href: "no-sidebar.html"} No Sidebar
          %li
            %a{href: "contact.html"} Contact
          %li.submenu
            %a{href: ""} Submenu
            %ul
              %li
                %a{href: "#"} Dolore Sed
              %li
                %a{href: "#"} Consequat
              %li
                %a{href: "#"} Lorem Magna
              %li
                %a{href: "#"} Sed Magna
              %li
                %a{href: "#"} Ipsum Nisl
      %li
        %a.button.special{href: "#"} Sign Up
/ Banner
%section#banner
  
  .inner
    %header
      %h2 Valis HomeStay
    %p
      Coming Soon
      %br/
    %p TeL:09392501447 Reza Ansari
    %p 09151001324 Vali ansari
    %footer
      %ul.buttons.vertical
        %li
          %a.button.fit.scrolly{href: "#main"} Tell Me More
/ Main
%article#main
%section#cta
  
